/**全局**/
*{padding:0;margin:0;}
img{border: 0}
.body{background:#f5f4f3;font-size:13px;color:#333333;font-family: Tahoma, Helvetica, "Microsoft Yahei", "微软雅黑", Arial, STHeiti;}

.body-nologin{ background:url(/style/img/register_bg.jpg);font-size:13px;color:#333333;font-family: Tahoma, Helvetica, "Microsoft Yahei", "微软雅黑", Arial, STHeiti;}

a{text-decoration:none; color:#308EB5; bblr:expression(this.onFocus=this.blur());
       outline:none;}
a:hover{color:#00B7D6}

.bread-nav{line-height: 30px; height:30px;padding:0 20px;background: #fff;}

.report{color:#999;font-size: 12px;font-weight: normal;}
.report:hover{color: #FE7203;text-decoration:underline;}

.report-win{background: #fff;width:400px;height: 200px; border-radius:5px;}
.report-close{background:url(/style/img/close.png) no-repeat;width: 15px;height: 15px;float: right; cursor:pointer;top:10px;right: 10px;position:relative}
.report-win-div{clear:both;margin:10px auto; width: 360px;}
.report-text{width: 350px;height: 100px}

/**base**/

.wp20{width:20px}
.wp50{width:50px}
.wp100{width:100px}
.wp200{width:200px}
.wp300{width:300px}
.wp400{width:400px}
.wp450{width:450px}

.wp500{width:500px}
.wp600{width:600px}
.wp700{width:700px}
.wp800{width:800px}

.hp100{height:100px}
.hp200{height:200px}
.hp300{height:300px}
.hp400{height:400px}
.hp500{height:500px}
.hp600{height:600px}

.hide{display:none;}
.show{display:'';}

.text-center{text-align:center}
.text-left{text-align:left}
.text-right{text-align:right}

.color-grey{color:#999;}

.font-size-12{font-size: 12px}
/**home**/
.home-body{clear:both;width:980px;margin:0 auto;}

.home-topbar{width:980px;height: 65px;margin: 1em auto 0;text-align:center;}
.home-topbar-left{float:left;}
.home-topbar-left .change-citys{display:inline-block; position:relative;top:-10px;}
.home-topbar-right{float:right;padding:1em 0;}
.home-nav{clear: both;height: 60px; width:980px;margin:2em auto;}
.home-nav dd{ font-weight:bold;font-size:1.5em;float: left;border: 1px solid #ccc; width: 243px; background: #fff;text-align:center;padding: 1em 0;}
.home-nav dd:hover{border-bottom:3px solid #fe7203;background: #CCCCCC;cursor:pointer}




.home-body-box{border: #CCCCCC thin solid;background:#fff;margin:1em 0;}



.home-bottombar{clear: both;width:100%;height:300px;background: #333333;padding: 20px 0;}

.home-bottombar .box{clear:both;width:980px;margin:0 auto;}

.home-bottombar .box dl{width: 240px;float:left;}
.home-bottombar .box dl dt{color: #fff; font-size: 16px; font-weight: bold}
.home-bottombar .box dl dd a{color: #999999; font-size: 13px;}




/**channel**/

/**member**/
.member-body{clear:both;width:980px;margin:0 auto;}
.member-content{border-top: 1px solid #ccc; width:980px;}
.member-content table{margin:0 auto;}
.member-content table .title{font-size:18px; font-weight:bold;height: 50px;}
.member-content table .right{text-align: left;}
.member-content table .left{text-align: right;}
.member-content table td{height: 36px;}

/**logo**/
.logo-white{background:url(/style/img/logoWhite.png) no-repeat;background-size:86px auto;display:block;float:left;width:86px; height:30px;overflow: hidden; position: relative;top:.5em;}
.logo-orange{background:url(/style/img/logo.png) no-repeat;display:inline-block;width:140px; height:60px;overflow: hidden; }



/**input-text**/

input[type="text"],textarea,input[type="password"]{height: 2em;border: 1px solid #ccc;padding-left: 5px;padding-right: 5px;outline: none;box-shadow: 2px 2px 2px #eee inset;-moz-box-shadow: 2px 2px 2px #eee inset;-webkit-box-shadow: 2px 2px 2px #eee inset;color: #666;font-size: 13px;}

input[type="text"]:focus, textarea:focus, input[type="password"]:focus {
    border-color: #00aeca;
    box-shadow: 0 0 3px rgba(15, 164, 190, 0.8);
    color: rgba(0, 0, 0, 0.85);
}
/**button**/
.btn-grey{cursor: pointer;display: inline-block;vertical-align: middle;text-align:center;padding:.5em 2em;background:#EBEBEB;color:#333333;border:#CCCCCC thin solid;}
.btn-grey-s{cursor: pointer;display: inline-block;vertical-align: middle;text-align:center;padding:5px 15px;background:#EBEBEB;color:#333333;border:#CCCCCC thin solid;}
.btn-grey-s:hover,.btn-grey-s.on,.btn-grey:hover,.btn-grey.on{background:#F4F4F4;color:#333333;text-decoration:none;}

.btn-blue{cursor: pointer;display: inline-block;vertical-align: middle;text-align:center;padding:.5em 2em;background:#308EB5;color: #fff;border:#308EB5 thin solid;}
.btn-blue-s{cursor: pointer;display: inline-block;vertical-align: middle;text-align:center;padding:5px 15px;background:#308EB5;color: #fff;border:#308EB5 thin solid;}
.btn-blue-s:hover,.btn-blue-s.on,.btn-blue:hover,.btn-blue.on{background:#00B7D6;color: #fff;text-decoration:none;}

.btn-green{cursor: pointer;display: inline-block;vertical-align: middle;text-align:center;padding:.5em 2em;background:#8DB800;color: #fff;border:#79B800 thin solid;}
.btn-green-s{cursor: pointer;display: inline-block;vertical-align: middle;text-align:center;padding:5px 15px;background:#8DB800;color: #fff;border:#79B800 thin solid;}
.btn-green-s:hover,.btn-green-s.on,.btn-green:hover,.btn-green.on{background:#AED505;color: #fff;text-decoration:none;}

.btn-red{cursor: pointer;display: inline-block;vertical-align: middle;text-align:center;padding:.5em 2em;background:#E65E42;color: #fff;border:#FA7D17 thin solid;}
.btn-red-s{cursor: pointer;display: inline-block;vertical-align: middle;text-align:center;padding:5px 15px;background:#E65E42;color: #fff;border:#FA7D17 thin solid;}
.btn-red-s:hover,.btn-red-s.on,.btn-red:hover,.btn-red.on{background:#FF734A;color: #fff;text-decoration:none;}

.btn-grey.checked,.btn-orange{cursor: pointer;display: inline-block;vertical-align: middle;text-align:center;padding:.5em 2em;background:#FE7203;color: #fff;border:#FE7203 thin solid;}
.btn-grey-s.checked,.btn-orange-s{cursor: pointer;display: inline-block;vertical-align: middle;text-align:center;padding:5px 15px;background:#FE7203;color: #fff;border:#FE7203 thin solid;}
.btn-orange-s:hover,.btn-grey-s.on,.btn-grey-s.checked:hover,.btn-grey.checked:hover,.btn-orange:hover,.btn-orange.on{background:#FC9442;color: #fff;text-decoration:none;}

/**plugins**/


.login{width:500px;margin:100px auto;padding: 50px;}
.login legend{font-size:18px; font-weight:bold;}
.login-tr{text-align:center;margin-bottom:1em }


.register{width:500px;margin:100px auto;padding: 50px;}
.register legend{font-size:18px; font-weight:bold;}
.register table{margin:0 auto;}
.register table .title{font-size:18px; font-weight:bold;text-align: center;height: 50px;}
.register table .right{text-align: left;}
.register table .left{text-align: right;}
.register table td{height: 30px;}

/**address**/

.address-item-container{
border:#CCCCCC thin solid;
width:410px;
border-top:none;
display:none;
position:absolute; 
z-index:2;
background:#f5f4f3;
}
.address-item-container dd{
 padding:5px 5px;
}
.address-item-container span{
	color:#999999;
	font-size: 12px;
}
.address-item-container dd.selected{
  background:#D5E3EC;
}

.html-radio{
	color:#333333;
}
.html-radio:hover{
	color:#666666;
}

/**msg**/
.notice{
	width:950px;
	font-size: 13px;
	margin:0 auto;
	border-radius:5px;
}
.dialog{
	border-radius:5px;
	width:200px;
	font-size: 13px;
	position:absolute;
	filter:alpha(opacity=90);
	opacity:0.9;	
}
.notice.success,.dialog.success{
	background:#EBF8A4 url("/style/img/msg_success.png");
    background-position: 5px 50%;
    background-repeat: no-repeat;
	border:#a2d246 thin solid;
	padding:5px 0 5px 25px;
}
.notice.error,.dialog.error{
	background:#FFC0CB url("/style/img/msg_error.png");
    background-position: 5px 50%;
    background-repeat: no-repeat;
	border:#FA4665 thin solid;
	padding:5px 0 5px 25px;	
}
.dialog.alert{
	background:#000000;
	color:#FFFFFF; 
	width:200px;
	padding:10px 5px;
	text-align:center;
}

/**会员后台**/
.member-table-list{
	border-collapse:collapse;
}
.member-table-list td,.member-table-list th{border:#FCFAF9 1px solid;height: 30px}
.member-table-list tr:hover{background: #EBEBEB}

.member-page{
	display:inline-block;
}
.member-page a{cursor: pointer;display: inline-block;vertical-align: middle;text-align:center;padding:5px 10px;background:#EBEBEB;color:#333333;border:#CCCCCC thin solid;}

.member-page a.on{background:#FE7203;color: #fff;border:#FE7203 thin solid;}


/**online**/
.online{border:#FE7203 2px solid;width: 150px;position:fixed;top:100px;}

.online dt{cursor: pointer;text-align:center;padding:5px 0;background:#FE7203;color: #fff;border:#FE7203 thin solid;}
.online dd{background:#fff;text-align:center;line-height: 40px;height: 40px}

.online-qq{color:#666;background:#ffeeff; font-weight:bold;padding:0 10px; display:inline-block; border:#CCCCCC thin solid;border-radius:5px;font-size: 13px; height: 25px;line-height: 25px;}
.online-qq:hover{color:#333333;background:#fff;}

/**third-icons**/

.third-icons{ background-image:url(/style/img/icons.png);background-repeat: no-repeat;display:inline-block; width:17px;position:relative;top:5px;}
.third-icons.qq{background-position: 0 -2652px; }
.third-icons.weibo{ background-position: 0 -104px;}
.third-icons.weixin{ background-position: 0 -1612px;}
.third-icons.email{background-position: 0 -2340px;}

.mobile-img{position:relative;top:5px;}
